<!DOCTYPE html>


<html lang="en">
<head>

  <nav class="navbar">
    <a href="#" class="navbar-brand">BREWDOG</a>
    <a href="#" class="navbar-brand"><img class = "img"  style = " margin-top: -28px;margin-left: -155px;"src="https://images.pexels.com/photos/1624172/pexels-photo-1624172.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" style="width: 50px;"></a>
    <ul>
      <li><a id ="beers">Beers</a></li>
      <li><a id ="community" >Community </a></li>
      <li><a id = "shop">Shop</a></li>
    </ul>
    <button class="navbar-toggler">
      <span></span>
    </button>
  </nav>


 <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1089932/pexels-photo-1089932.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);">
  <div class="container">

<div class = "banner-border">
  <p style="margin-top:50px; font-family:Arial;"><br><br><br><br>BrewDog is a multinational brewery and pub chain based in Ellon, Scotland. <br>BrewDog produces bottled and canned beers in a variety of styles such as ale, stout, India pale ale (IPA) and lager, some of which are also available in keg containers.

The bottled beers are distributed to British supermarkets and exported worldwide; kegs are available in the United Kingdom and Ireland.</p>
    <a class="btn btn-flat" id = "btn"> Discover now!</a>
    </div>
  </div>
</div>




  </header>



  <meta charset="UTF-8">

</head>
<body>
<div class = "img-1" style = "text-align: center; background-color:white;" ><style>
img { width:55px; }
</style>
</div>
<section class = "beers" >
<div class = "beer-card">
<ul class="card-category " style=" display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px; margin: 30px" id="results">
</ul>
</div>



<div id="contact" class="footer" style = "width=100%vw; color: #dce2e8;" >
  <div class = footer-personal-info>


   </div>
  <div class="footer-links">
    <a href="mailto:ginachen588@gmail.com"><i class="far fa-envelope-open"></i></a>
    <a href="https://github.com/ginachen1234"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/gina-chen/"><i class="fab fa-linkedin"></i></a>
  </div>





<script>
 const btn = document.getElementById('btn');

btn.addEventListener('click', () => window.scrollTo({
  top: 550,
  behavior: 'smooth',
}));

</script>


</body>
</html>
