<!DOCTYPE html>


<html lang="en">
<head>

  <nav class="navbar">
    <a href="#" class="navbar-brand">BREWDOG</a>
    <a href="#" class="navbar-brand"><img class = "img"  style = " margin-top: -28px;"src="https://images.pexels.com/photos/1624172/pexels-photo-1624172.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" style="width: 50px;"></a>
    <ul>
      <li><a href="#html">Beers</a></li>
      <li><a href="#css">Community</a></li>
      <li><a href="#javascript">Shop</a></li>
    </ul>
    <button class="navbar-toggler">
      <span></span>
    </button>
  </nav>




  <header class="intro"></header>

<div class = "img-1" style = "text-align: center; background-color:white;" ><style>
img { width:55px; }
</style>
</div>

<div class = "beer-card">
<ul class="card-category " style=" display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px; margin: 30px" id="results">
</ul>
</div>

  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>



</body>
</html>
